
/* General Items */
* {
  font-family: 'Avenir Light', 'Avenir Light Oblique', 'Avenir Book', 'Avenir Roman', 'Avenir Medium', 'Avenir Medium Oblique', 'Avenir Black', 'Avenir Black Oblique', 'Avenir Heavy';
}
.nav-item {
  float: left;
  padding-right: 1ch;
  list-style: none;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  text-indent: 1ch;
  text-align: left;
}
span.nav-right {
  float: right;
  text-align: right;
}
a.nav-item:visited {
  text-decoration: none;
  font-weight: normal;
  color: brown;
}
a.nav-item:active {
  font-weight: bolder;
}
nav {
  vertical-align: center;
  position: absolute;
  top:0;
  left: 0px;
  text-align: left;
  display: inline-flex;
  align-content: space-around;
}
head {
  margin-top: 15ch;
}
title {
  text-align: left;
}
header {
  white-space: nowrap;
  color: black;
  font-size: larger;
  text-align: center;
  font-variant: small-caps;
  padding-bottom: 1ch;
}
hr.header-div {
  color: rgba(230, 167, 91, 0.788);
}
footer {
  text-align: left;
}
.site-links {
  list-style-position: outside;
}
.flash {
  padding-bottom: 1ch;
}
.flashes {
  display: inline-block;
  align-self: center;
  padding-top: 3px;
  border: 1px solid rgba(230, 167, 91, 0.788);
}
.flash-msg {
  margin-left: 1ch;
  margin-right: 1ch;
  font-weight: bold;
  font-size: medium;
  text-align: center;
  color:rgba(230, 167, 91, 0.788);
}
body {
  background-color: linen;
  margin: .5in;
  margin-top: .5in;
  text-align: justify;
  word-wrap: normal;
}
.contents {
  padding-top: 1ch;
  display: inline-block;
  text-align: left;
}
h1 {
  color: maroon;
  font-weight: bold;
  font-variant-caps: titling-caps, small-caps;
  padding-top: 1%;
  padding-bottom: 0;
} 
h3 {
  padding: 0%
}
p {
    color:rgb(49, 40, 40);
    width: fit-content;
}

/* List Fields */
ol {
  list-style-type: upper-roman;
}
ul, ol, dl {
    color: rgba(230, 167, 91, 0.788);
}
li {
  padding-top: .5ch;
}
dd{
  text-indent: 0ch;
  font-weight: bold;
  color: black;
}
dt {
  text-indent: 5ch;
  text-align: inherit;
}
.di {
  padding-bottom: 1ch;
}

/* Head Banner */
.banner{
  position: relative;
  text-align: center;
  padding-bottom: 3ch;
  color:whitesmoke;
}
.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  font-weight: bold;
  font-variant-caps: titling-caps, small-caps;
}
/* h1 {
  color: maroon;
  padding-top: 1%;
  padding-bottom: 0;
}  */
.details {
  padding: 1ch;
  float: left;
}
.time {
  padding: 1ch;
  float: right;
}
.header-img {
  float: center;
  background: url('./img/ren-ran-bBiuSdck8tU-unsplash.jpg');
  background-size: cover;
  width: 100%;
  height: 200px;
}

/* Home */
.home-body, 
.home-table, 
.home-table-caption 
{
  text-align: center;
}
.home-table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
.home-table-h1 {
  text-align: center;
  margin-bottom: 4px;
}

/* Table */
table.home-table, .profile-table {
  padding: 2%;
  border-spacing: 10px;
  border-collapse: collapse;
  align-content: center;
  border-color:black;
}
caption{
  text-align: center;
  border: 3px ridge black;
  border-collapse: separate;
  margin-bottom: 1ch;
}
h1.table, th {
  text-align: center;
  border: 1px solid black;
}
th.col1 {
  text-align: right;
}
td.home-td{
  text-align: justify;
  border: 2px solid black;
  border-collapse: collapse;
}
tr,th,td {
  padding: 1ch;
  border: 1px solid black;
  border-collapse: collapse;
}

img.col2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}
img.x, img.check {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
}
td.x {
  border-collapse: collapse;
  background-color: rgba(255, 0, 0, 0.418);
  background-size: cover;
}
td.check {
  border-collapse: collapse;
  background-color: rgba(172, 255, 47, 0.575);
  background-size: cover;
}

/* Index */
ol.index-items{
  list-style: upper-roman;
  list-style-position: inside;
}
.index-body {
  text-align: center;
}
.index-header {
  white-space: nowrap;
  text-align: center;
  text-decoration:underline;
  text-decoration-color: rgba(185, 110, 19, 0.712);
}
.index-contents {
  display: inline-block;
  text-align: left;
}
.index-items {
  text-indent: -4ch;
}
.index:active{
  font-weight: bold;
}
.index:link {
  color: black;
  text-decoration: none;
}

.tab-links{
  text-indent: 3ch;
}

/* Registration */
.register-h1 {
  text-align: center;
  text-indent: -3ch;
}
.register-body {
  text-align: center;
}
.register-contents {
  text-align: center;
  padding-top: 3ch;
  display: inline-block;
  /* text-align: left; */
}
/* Form Fields */
form {
  display: inline-table;
  color: brown;
  font-weight: bold;
}
tr.empty {
  height: 2ch;
}
.register-form-table {
  margin-left: 10ch;
  border-spacing: 1px;
  padding: 0;
}
th.form-header {
  text-align: right;
  border-style: none;
  padding: 1px
}
td.form-data {
  display: inline-block;
  text-align: left;
  border-style: none;
  padding: 1px;
  width:fit-content;
}
td.form-btn {
  border-style: none;
  border-collapse: collapse;
  text-align: center;
}
.form-input {
  text-align: center;
}
.register-btn {
  display: inline-block;
  vertical-align: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Login */
.login-form {
  display: inline-block;
}
.login-body {
  text-align: center;
}
.login-contents {
  display: inline-block;
  text-align: left;
}
.login-btn {
  margin-top: 2ch;
  size: 110%;
  width: 100%;
  text-align: center;
}

/* User Profile */
.profile-body {
  text-align: center;
}
.profile-table-header {
  text-align: center;
}
.profile-table {
  display: inline-block;
  text-indent: 5ch;
}
th.profile-header {
  text-transform: capitalize;
  text-align: right;
  color:brown;
  border: 1px solid black;
}
td.profile-data {
  text-align: justify;
  border: 1px solid black;
}
.profile-name {
  color: rgba(165, 42, 42, 0.705);
  text-decoration: underline;
  font-size: larger;
}

.btns {
  border-style: none;
}
.user-btns {
  text-align: center;
  text-indent: 0;
  border-style: none;
}

