{% extends "thebase.html" %}

{% block title %}
    ADMINISTER INTERFACE
{% endblock %}

{% block content %}
    <h2>Administer Interface</h2>
    <p>Here you can search for a user and display their data on this page. This page is for testing purposes ONLY.</p>
    <form>
        <div class="form-group">
            <label for="search_user">Goal Value:</label>
            <input type="search" class="form-control" id="search_user" placeholder="Enter username...">
        </div>
    </form>
{% endblock %}
