{% extends 'mybase.html' %}
{% block title %}Your Workout Data{% endblock %}

<style>
    body {
        background-color: rgb(234, 13, 13);
    }
</style>

{% block content %}
    <h2>Your Workout Data</h2>

    <table>
        <thead>
            <tr>
                <th>Duration (minutes)</th>
                <th>Intensity</th>
                <th>Frequency (times per week)</th>
                <th>Number of Exercises</th>
                <th>Workout Date</th>
                <th>Calories Burned</th>
            </tr>
        </thead>
        <tbody>
            {% for workout in workouts %}
            <tr>
                <td>{{ workout.duration }}</td>
                <td>{{ workout.intensity }}</td>
                <td>{{ workout.frequency }}</td>
                <td>{{ workout.num_exercises }}</td>
                <td>{{ workout.workout_date }}</td>
                <td>{{ workout.calories_burned }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('workout_planner') }}">Back to Workout Planner</a>
{% endblock %}
