{% extends "mybase.html" %}

{% block title %}
Exercise
{% endblock %}

{% block content %}
<style>
    body {
        background-color: rgb(201, 173, 230);
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>
<h2>Exercise Tracker</h2>
<form method="POST" action="/submit_exercise">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="exerciseduration">Exercise Duration:</label>
        {{ form.exerciseduration(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="intensity">Intensity (out of 10):</label>
        {{ form.intensity(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="caloriesburned">Calories Burned:</label>
        {{ form.caloriesburned(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="totalreps">Total Reps:</label>
        {{ form.totalreps(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="totalsets">Total Sets:</label>
        {{ form.totalsets(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="targetreps">Target Reps:</label>
        {{ form.targetreps(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="heartrate">Heart Rate:</label>
        {{ form.heartrate(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="exercise_type">Type of Exercise:</label>
        {{ form.exercise_type(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="completed">Percentage Completed:</label>
        {{ form.completed(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}