{% extends 'mybase.html' %}

{% block title %}Read.me{% endblock %}

{% block content %}
    <style>
        body {
            background-color: purple; /* Change the background color to purple */
        }
    </style>
    <h2>This is all about the lists</h2>

    <p>This completes the last 2 things on the list of requirements</p>
    <image src="{{ url_for('static', filename='images/image4.jpg') }}" alt="Cool" width="200" height="200"> <!-- Image -->
    <h3>Unorderedlist</h3> <!-- First list -->
    <ul>
        <li>Pizza</li> 
        <li>Sushi</li> 
        <li>Ice Cream</li> 
    </ul>

    <h3>Orderedlist</h3> <!-- Second list -->
    <ol>
        <li>Sleep</li> 
        <li>Work</li> 
        <li>Homework</li> 
    </ol>
{% endblock %}
