{% extends 'mybase.html' %}

{% block title %}Registration Form{% endblock %}

{% block content %}
    <style>
        body {
            background-color: rgb(230, 173, 178); /* Change the background color to red */
        }
    </style>
    
    <h2>Registration Form</h2>
    
    <form action="/registration" method="POST"> 
        {{ form.hidden_tag() }}

        <label for="username">Username:</label> 
        {{ form.username(class="form-control") }}<br><br>
        
        <label for="password">Password:</label>
        {{ form.password(class="form-control") }}<br><br>
        
        <label for="confirm_password">Confirm Password:</label>
        {{ form.confirm_password(class="form-control") }}<br><br>
        
        <label for="name">Name:</label>
        {{ form.name(class="form-control") }}<br><br>

        <label for="height">Height (cm):</label>
        {{ form.height(class="form-control") }}<br><br>

        <label for="weight">Weight (kg):</label>
        {{ form.weight(class="form-control") }}<br><br>

        <label for="age">Age:</label>
        {{ form.age(class="form-control") }}<br><br>
        
        <input type="submit" value="Register" class="btn btn-primary">
    </form>
    
    <p>Your password has to be 12 characters long with at least 1 upper/lower case, 1 number, and 1 special character</p>
    <ul>
        <li>At least 1 uppercase character</li> 
        <li>At least 1 lowercase character</li>
        <li>At least 1 number</li>  
        <li>At least 1 special character (e.g., !@#$%^&*()-_=+[]{}|;:'",.<>?/)</li> <!-- Updated special characters -->
    </ul>
    
    <img src="{{ url_for('static', filename='images/image5.jpg') }}" alt="Cool" width="200" height="200"> <!-- Image -->
    
    <p id="password_validation_messages" class="error"></p>
{% endblock %}
