{% extends 'mybase.html' %}

{% block title %}Table{% endblock %}

{% block content %}

<style>
    body {
        background-color: rgb(190, 13, 234); /* Change the background color to purple */
    }
</style>

<h2>Table of a Schedule</h2>

<table>
    <tr>
        <!-- these are my table headers for each day-->
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
    <tr>
        <!-- Each day follows a similiar format-->
        <!-- Monday -->
        <td>
            <ul>
                <li>Work</li>
                <li>Homework</li>
                <li>Sleep</li>
            </ul>
        </td>
        <!-- Tuesday -->
        <td>
            <ul>
                <li>Work</li>
                <li>Homework</li>
                <li>Sleep</li>
            </ul>
        </td>
        <!-- Wednesday -->
        <td>
            <ul>
                <li>Work</li>
                <li>Homework</li>
                <li>Sleep</li>
            </ul>
        </td>
        <!-- Thursday -->
        <td>
            <ul>
                <li>Homework</li>
                <li>Sleep</li>
            </ul>
        </td>
        <!-- Friday -->
        <td>
            <ul>
                <li>Work</li>
                <li>Sleep</li>
            </ul>
        </td>
        <!-- Saturday -->
        <td>
            <ul>
                <li>Picnic</li>
                <li>Movie</li>
                <li>Sleep</li>
            </ul>
        </td>
        <!-- Sunday -->
        <td>
            <ul>
                <li>Family Gathering</li>
                <li>Family Hangout</li>
                <li>Sleepover</li>
            </ul>
        </td>
    </tr>
</table>

<img src="{{ url_for('static', filename='images/image7.jpg') }}" alt="Cool" width="200" height="200"> <!-- Image -->
{% endblock %}
